// header
.logout {
  margin-top: 40px;
}
.top__slogan {
  text-align: left;
  font-weight: bold;
  font-size: larger;
  color: #14b7b9;
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mypage__link {
  font-weight: bold;
  font-size: larger;
  color: #14b7b9;
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login, .sign__up {
  font-weight: bold;
  font-size: larger;
  color: #14b7b9;
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
