<header>
<div class='future__header'>
  <ul class='related__devise'>
    <% if user_signed_in? %>
      <li><%= link_to "ようこそ、[ #{current_user.name} ]さん", user_path(current_user.id), class: 'mypage__link' %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, method: :get, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, method: :get, class: "sign__up" %></li>
    <% end %>
    <li class='top__slogan'>より良き未来の実現へ</li>
  </ul>
</div>
</header>