<header>
<div>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, method: :get, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, method: :get, class: "sign-up" %></li>
    <% end %>
  </ul>

  <div>
    <% if can? :create, current_user %>
    <li><%= link_to 'New content', new_content_path, class: "user-name" %></li>
    <% end %>
  </div>
</div>
</header>