// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// サイドメニュー
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp__navi {
	position: relative;
	overflow: hidden;
	width: 110px;
	height:360px;
}
.cp__navi #cp__sidenav .a__nav {
	font-size: 20px;
	position: absolute;
	left: -90px;
	width: 110px;
	height: 54px;
	padding: 12px 15px;
	transition: 0.3s;
	text-decoration: none;
	color: #ffffff;
	border-radius: 0 5px 5px 0;
}
// .cp_navi #cp_sidenav a:hover {
.cp__navi #cp__sidenav .a__nav:hover {
	left: -10px;
}
.cp__navi #home {
	top: 20px;
  background-color: #c6ecec;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.cp__navi #news {
	top: 80px;
  background-color: #a9dfe0;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}
.cp__navi #contact {
	top: 140px;
  background-color: #66cece;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
.cp__navi #about {
	top: 200px;
  background-color: #1eb7be;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}




// トップページ
// 画面分割

.line__space {
  border-bottom: 1.5px solid #14b7b9;
  margin-right: 40px;
  border-image: linear-gradient(to right, #fce6fb 0%, #14b7b9 100%);
  border-image-slice: 1;
}

.fr__top .future__header {
  background-color: #f5f5f5;
	width: 100vw;
	height: 80vh;
  // background-image: url('logo_copy.png');
  background-image: url('../future_banner3.png');
	height: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	display: flex;
	flex-direction: column;
	// align-items: flex-start;
	// justify-content: center;
  padding: 10vh 4vw;
	// text-shadow: 0 0 5px rgba(20, 183, 185, 0.5);
}

// .box {
// 	border: 2px solid #da3c41;
// }

.related__devise {
  text-align: right;
  height: 100px;
}

.top__slogan {
  text-align: left;
}

.related__devise > li > a {
  color: #14b7b9;
  line-height: 4rem;
}
.related__devise > li > a:hover {
  text-shadow: 0 0 5px rgba(20, 183, 185, 0.5);
}

.middle {
	background-color: #f5f5f5;
  display: flex;
}

.fr__left {
	width: 100px;
}

.fr__bottom {
	background-color: #f5f5f5;
}

.fr__right {
  width: 100vw;
}


// 中間ヘッダー
.top__display-header {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}


// .new__content {
  // text-align: right;
  // margin-right: 10vh;
// }


.new__content--link > li {
  text-decoration: none;
  list-style: none;
}

.new__content--link > li > a {
  color: #66cece;
  padding: 5px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 20px;
}

.new__content--link > li > a:hover {
  text-shadow: 0 0 5px rgba(20, 183, 185, 0.5);
}



// キーワード検索

// .search-form {
  // display: flex;
  // text-align: center;
  // padding-top: 20px;
// }

.search__form .search__input {
  width: 300px;
  margin-right: 10px;
  border-radius: 15px;
}

.search__form .search__btn {
  color: #14b7b9;
  padding: 5px;
  border-radius: 30px;
  border: none;
  background-color: #f5f5f5;
  font-size: medium;
}
.search__form .search__btn:hover {
  text-shadow: 0 0 5px rgba(20, 183, 185, 0.5);
}



// コンテンツ一覧
.contents > h2 {
  font-size: larger;
  color: #66cece;
  padding: 5px;
  border-radius: 30px;
  // text-shadow: 0 0 5px rgba(20, 183, 185, 0.5);
  font-weight: bold;
  // background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vh;
  overflow-anchor: none;
  flex-wrap: wrap;
}
.list {
  // width: 33vh;
}
.content__lists {
  // width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}

.content__lists>.list {
  // width: 37vh;
  padding: 1vw;
  margin-bottom: 5vh;
}

.content__info {
  // margin: 1vw;
  // display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
}

.content__title {
  text-decoration: none;
  margin: 5px auto;
  text-align: left;
  background-image: linear-gradient(to right, #ACB6E5, #86FDE8);
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: bottom; 
}

.content__overview {
  width: 300px;
  // display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a {
  color: rgb(63, 61, 61);
}

.content__user--name > a:hover {
  text-shadow: 0 0 5px rgba(63, 61, 61, 0.5);
}

.content__user--occupation > a:hover {
  text-shadow: 0 0 5px rgba(63, 61, 61, 0.5);
}

