// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment__list {
  padding-left: 20px;
}

.comment__bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: dimgray;
}